<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Operações</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="estilos.css">

</head>
<body>
	<div class="container">
    <h1>Cadastro de operações</h1>

    <form class="form-style-4" method="post">
<label for="field1">
<span>Descrição</span><input type="text" name="descricao" required="true" />
</label>
<label for="field2">
<span>Valor</span><input type="text" name="valor" required="true" />
</label>

<label>
<span>&nbsp;</span><input type="submit" value="Enviar" />
</label>
</form>

	<p class="copy">Sistema gerenciador</p>
    </div>
</body>
</html>